/* css styles */

body {
    background-color: #555;
}

header {
    margin: 10px 0 50px;
    text-align: center;
}

#imageDisplay {
    text-align: center;
}

#videoStream {
    width: 80%;
    max-width: 1024px;
    height: auto;
    background-color: #666;
}

#canvas {
    width: 80%;
    max-width: 1024px;
    height: auto;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 667px;
    max-height: 996px;
    overflow: auto;
}

.gallery-img {
    width: 100%;
    max-width: 320px;
    height: auto;
    max-height: 240px;
    margin: 6px auto;
}


/* ------[ ERRORS ]------ */

#form-errors {
    width: 70%;
    max-width: 700px;
    margin: auto;
    clear: both;
}

#form-errors p {
    padding: 10px 60px;
    text-align: center;
    color: #fff;
    background-color: #ff3a3a;
    font-weight: 600;
}


/* ------[ FORMS ]------ */


/* Place Holder CSS */

::-webkit-input-placeholder {
    opacity: 0.5;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

:-moz-placeholder {
    opacity: 0.5;
    -moz-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

::-moz-placeholder {
    opacity: 0.5;
    -moz-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}

:-ms-input-placeholder {
    opacity: 0.5;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
}


/* Place Holder CSS for Hover */

:hover::-webkit-input-placeholder {
    opacity: 0.25;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

:hover:-moz-placeholder {
    opacity: 0.25;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

:hover::-moz-placeholder {
    opacity: 0.25;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

:hover:-ms-input-placeholder {
    opacity: 0.25;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* Place Holder CSS for Focus */

:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -moz-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out;
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}


/* Labels */

label[for=login],
label[for=passwd] {
    opacity: 0;
    color: #fff;
}
